// COLORS
$primary-color: #0699cc;
$secondary-color: #075e7c;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #727272;

$dark-blue-text: #081f27; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;